@{
    ViewData["Title"] = "BookingSummary";
}


<h2><strong> Booking Summary</strong></h2>

<h4>
    <strong>@ViewData["MovieTitle"] </strong>
</h4>
<h4> @ViewData["CineplexLocation"] </h4>
<h4>Session time: @ViewData["SessionId"] </h4>
<h4>Cinema One</h4>

<div>
    <div class="row row-item">
        <div class="col-md-8">
            <p class="larger-text">
                Thank you for your payment! <br />
                Your booking has been confirmed!
            </p>
        </div>
    </div>
    </div>

